header {
	background-color: var(--component-background);
	width: 100%;
	margin: 0;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 120px 8px 120px;
	background-color: var(--component-background);
	max-width: var(--width-breakpoint-0);
	margin: 0 auto;
	@media (max-width: 768px) {
		padding: 20px 40px 8px 40px;
		text-align: center;
	}
}

.header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 39%;
	max-width: 600px;
	@media (max-width: 1200px) {
		min-width: 60%;
	}
	@media (max-width: 768px) {
		min-width: 70%;
	}
}

.header-menu-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 66%;
	li a {
		padding: 20px 4px;
		font-size: 15px;
		color: var(--color-text-default);
		&:hover,
		&.header-menu-list-selected {
			color: var(--color-accent);
		}
	}
	@media (max-width: 480px) {
		padding: 0 0 0 3%;
		flex-wrap: wrap;
		text-align: left;
		li a {
			padding: 0 6px;
		}
	}
}

.cart {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 55px;
	border-radius: 4px;
	background-color: var(--color-accent);
	position: relative;
}

.cart-quantity {
	position: absolute;
	top: -5px;
	right: -5px;
	height: 25px;
	width: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--component-background);
	font-size: 13px;
	line-height: 18px;
	color: var(--color-accent);
	box-shadow: 1px 0px 16px var(--shadow-color);
}

.theme-toggle {
	display: flex;
	align-items: center;
	cursor: pointer;
	background: none;
	border: none;
	color: var(--color-text-default);
	font-size: 24px;
	padding: 0 14px;
	border-radius: 50%;
}
