.login-title-container {
	padding: 95px 0 53px 0;
	background-size:
		cover,
		100% 10%;
	background-position:
		center top,
		bottom;
	background-repeat: no-repeat, no-repeat;
}

.login-title {
	text-align: center;
	margin: 0;
	color: var(--color-accent);
	font-weight: 400;
	font-size: 50px;
	line-height: 55px;
	letter-spacing: 1.65px;
}

.login {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto 254px auto;
	max-width: 695px;
	padding: 37px 0 42px 0;

	background-color: var(--component-background);
	border: 1px solid rgba(53, 184, 190, 0.15);
	border-radius: 6px;
	@media (max-width: 768px) {
		margin: 0 3%;
	}
}

.username-container,
.password-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	@media (max-width: 1024px) {
		flex-direction: column;
		text-align: left;
	}
}

.password-container {
	padding: 25px 0 37px 0;
}

.label-username,
.label-password {
	color: var(--color-text-dark);
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 0.6px;

	@media (max-width: 1024px) {
		padding: 10px 0;
	}
}

.label-username {
	padding-right: 30px;
}
.label-password {
	padding-right: 40px;
}

.input-username,
.input-password {
	width: 90%;
	max-width: 415px;
	padding-left: 15px;
	height: 45px;
	background-color: var(--input-background);
	border: 1px solid var(--input-border-color);
	border-radius: 6px;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	letter-spacing: 0.36px;
	color: var(--input-text-color);
	outline: none;

	&:focus {
		box-shadow: 0 0 0 2px var(--color-accent);
	}

	@media (max-width: 1024px) {
		min-width: 70%;
	}
}

.input-username:-webkit-autofill,
.input-password:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px var(--input-background) inset;
	-webkit-text-fill-color: var(--input-text-color);
}

.login-buttons-container {
	display: flex;
	gap: 30px;
}
