.menu-button {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  cursor: pointer;
  padding: 16px 46px;
  transition: all 0.2s ease;
  border-radius: 6px;
  background-color: var(--color-accent);
  color: #ffffff;
  border: 1px solid var(--color-accent);

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.button_filter {
  &:nth-child(2) {
    padding: 16px 40px;
  }

  &:nth-child(3) {
    padding: 16px 32px;
  }
}

.button_addToCart {
  padding: 9px 27px;
  letter-spacing: 1.36px;
  line-height: 27px;
}

.button_seeMore {
  font-size: 17px;
  padding: 16px 36px;
}

.button_placeAnOrder {
  padding: 19px 35px 21px 35px;
  font-size: 17px;
}

.button_inactive {
  color: var(--color-text-button);
  background-color: transparent;
  border: 1px solid rgba(97, 114, 131, 0.2);
}
