.menu-button {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.36px;
  cursor: pointer;
  padding: 8px 16px;
  margin: 0 30px 0 0;
  transition: all 0.2s ease;
  border-radius: 6px;
  background-color: var(--color-accent);
  color: #fff;
  border: 1px solid var(--color-accent);

  &:last-child {
    margin: 0;
  }

  @media (max-width: 768px) {
    margin: 0 0 10px 0;
    width: 100%;
  }
}

.button_inactive {
  color: var(--color-text-button);
  background-color: transparent;
  border: 1px solid rgba(97, 114, 131, 0.2);
}
